<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main class="brokers-settings">
    <h1 class="brokers-settings__main-title">
      Broker - General Settings
    </h1>
    <div class="brokers-settings__logo__wrapper">
      <div class="brokers-settings__logo">
        <span class="brokers-settings__logo__title">
          Logo for light background
        </span>
        <div class="brokers-settings__logo__input__wrapper">
          <label>
            <input type="file" class="visually-hidden">
            <span class="brokers-settings__logo__styled-input">
              <img src="../assets/img/cloud-upload-dark.svg" alt="">
            </span>
          </label>
        </div>
      </div>
      <div class="brokers-settings__logo">
        <span class="brokers-settings__logo__title">
          Favicon (ICO)
        </span>
        <div class="brokers-settings__logo__input__wrapper">
          <label>
            <input type="file" class="visually-hidden">
            <span class="brokers-settings__logo__styled-input">
              <img src="../assets/img/cloud-upload-dark.svg" alt="">
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="brokers-settings__form">
      <label class="brokers-settings__form__wrapper">
        <span class="brokers-settings__form__title">
          Broker Name
        </span>
        <input type="text" class="brokers-settings__form__input">
      </label>
      <label class="brokers-settings__form__wrapper">
        <span class="brokers-settings__form__title">
          E-mail Address
        </span>
        <input type="text" class="brokers-settings__form__input">
      </label>
      <label class="brokers-settings__form__wrapper">
        <span class="brokers-settings__form__title">
          White Label
        </span>
        <input type="text" class="brokers-settings__form__input">
      </label>
      <label class="brokers-settings__form__wrapper">
        <span class="brokers-settings__form__title">
          Weight
        </span>
        <input type="text" class="brokers-settings__form__input">
      </label>
      <label class="brokers-settings__form__wrapper">
        <span class="brokers-settings__form__title">
          Date
        </span>
        <input type="text" class="brokers-settings__form__input">
      </label>
      <label class="brokers-settings__form__wrapper">
        <span class="brokers-settings__form__title">
          Open account link
        </span>
        <input type="text" class="brokers-settings__form__input">
      </label>
      <label class="brokers-settings__form__checkbox">
        <input type="checkbox" class="brokers-settings__form__checkbox__input">
        <span class="brokers-settings__form__checkbox__title">
          Hide logo in invoice
        </span>
      </label>
    </div>
    <button class="brokers-settings__update-btn">
      Update
    </button>
  </main>
</body>
</html>
