<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main class="brokers-servers">
    <h1 class="brokers-servers__main-title">
      Broker - Trading Servers
    </h1>
    <ul class="brokers-servers__list">
      <li class="brokers-servers__item">
        <div class="brokers-servers__server-title">Server Name</div>
        <button class="brokers-servers__edit-btn">Edit</button>
        <button class="brokers-servers__delete-btn">Delete</button>
      </li>
      <li class="brokers-servers__item">
        <div class="brokers-servers__server-title">Server Name</div>
        <button class="brokers-servers__edit-btn">Edit</button>
        <button class="brokers-servers__delete-btn">Delete</button>
      </li>
    </ul>
    <button class="brokers-servers__add-btn">
      <img src="../assets/img/plus.svg" alt="">
      Add Server
    </button>
  </main>
</body>
</html>