<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main class="brokers">
    <div class="brokers__main-title__wrapper">
      <h1 class="brokers__main-title">
        chills trading brokers
      </h1>
      <button class="brokers__main-title__btn">
        <img src="../assets/img/plus.svg" alt="">
        Add Broker
      </button>
    </div>
    <div class="brokers__table">
      <div class="brokers__table__header">
        <div class="brokers__table__header__wrapper">
          <span class="brokers__table__header__title">
            Icon
          </span>
        </div>
        <div class="brokers__table__header__wrapper">
          <span class="brokers__table__header__title">
            Name
          </span>
        </div>
        <div class="brokers__table__header__wrapper">
          <img src="../assets/img/arrows-sort.svg" alt="" class="brokers__table__header__img">
          <span class="brokers__table__header__title">
            Weight
          </span>
        </div>
        <div class="brokers__table__header__wrapper">
          <img src="../assets/img/arrows-sort.svg" alt="" class="brokers__table__header__img">
          <span class="brokers__table__header__title">
            Invisible
          </span>
        </div>
        <div class="brokers__table__header__wrapper">
          <img src="../assets/img/arrows-sort.svg" alt="" class="brokers__table__header__img">
          <span class="brokers__table__header__title">
            Trading Servers
          </span>
        </div>
        <div class="brokers__table__header__wrapper">
          <img src="../assets/img/arrows-sort.svg" alt="" class="brokers__table__header__img">
          <span class="brokers__table__header__title">
            Action
          </span>
        </div>
      </div>
      <div class="brokers__table__body">
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--no">
              No
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--yes">
              Yes
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--no">
              No
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--yes">
              Yes
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--no">
              No
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--yes">
              Yes
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--no">
              No
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
        <div class="brokers__table__row">
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__icon" style="width: 20px;height: 20px;border-radius: 50%;background-color: #5178B3;"></div>
          </div>
          <div class="brokers__table__row__wrapper">
            streamsfxglobal
          </div>
          <div class="brokers__table__row__wrapper">
            1
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__invisible brokers__table__row__invisible--yes">
              Yes
            </div>
          </div>
          <div class="brokers__table__row__wrapper">
            4
          </div>
          <div class="brokers__table__row__wrapper">
            <div class="brokers__table__row__settings">
              Settings
              <img src="../assets/img/arrow-down.svg" alt="" class="brokers__table__row__settings__img">
            </div>
          </div>
        </div>
      </div>
      <div class="brokers__table__pagination">
        <div class="brokers__table__pagination__wrapper">
          <div class="brokers__table__pagination__arrow">
            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7072 16L15.3536 13.3536L14.6465 12.6465L11.293 16L14.6465 19.3536L15.3536 18.6465L12.7072 16ZM15.2072 16L17.8536 13.3536L17.1465 12.6465L13.793 16L17.1465 19.3536L17.8536 18.6465L15.2072 16Z" fill="#74788D"/>
            </svg>
          </div>
          <div class="brokers__table__pagination__arrow">
            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7072 16L16.3536 13.3536L15.6465 12.6465L12.293 16L15.6465 19.3536L16.3536 18.6465L13.7072 16Z" fill="#74788D"/>
            </svg>
          </div>
          <div class="brokers__table__pagination__number brokers__table__pagination__number--active">
            1
          </div>
          <div class="brokers__table__pagination__number">
            2
          </div>
          <div class="brokers__table__pagination__number">
            3
          </div>
          <div class="brokers__table__pagination__number">
            4
          </div>
          <div class="brokers__table__pagination__number brokers__table__pagination__number--more">
            ...
          </div>
          <div class="brokers__table__pagination__arrow brokers__table__pagination__arrow--rotate brokers__table__pagination__arrow--active">
            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M13.7072 16L16.3536 13.3536L15.6465 12.6465L12.293 16L15.6465 19.3536L16.3536 18.6465L13.7072 16Z" fill="#74788D"/>
            </svg>
          </div>
          <div class="brokers__table__pagination__arrow brokers__table__pagination__arrow--rotate brokers__table__pagination__arrow--active">
            <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7072 16L15.3536 13.3536L14.6465 12.6465L11.293 16L14.6465 19.3536L15.3536 18.6465L12.7072 16ZM15.2072 16L17.8536 13.3536L17.1465 12.6465L13.793 16L17.1465 19.3536L17.8536 18.6465L15.2072 16Z" fill="#74788D"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>