<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <main class="support-create">
    <h1 class="support-create__main-title">
      Create a ticket
    </h1>
    <div class="support-create__ticket">
      <div class="support-create__ticket__wrapper">
        <label>
          <span class="support-create__ticket__title">
            Title
          </span>
          <input type="text" class="support-create__ticket__input">
        </label>
      </div>
      <div class="support-create__ticket__wrapper">
        <label>
          <span class="support-create__ticket__title">
            Text
          </span>
          <textarea class="support-create__ticket__input support-create__ticket__textarea"></textarea>
        </label>
      </div>
      <label class="support-create__ticket__files-input">
        <input type="file" class="visually-hidden">
        <img src="../assets/img/cloud-upload-dark.svg" alt="" class="support-create__ticket__files-input__img">
        <span class="support-create__ticket__files-input__title">
          Drop files or
          <a href="#">
            click here
          </a>
        </span>
      </label>
      <label class="support-create__ticket__checkbox">
        <input type="checkbox">
        <span class="support-create__ticket__checkbox__title">
          Strategy Follower involved
        </span>
      </label>
      <div class="support-create__ticket__flex-wrapper">
        <label class="support-create__ticket__label">
          <span class="support-create__ticket__title">
            Email of SF
          </span>
          <input type="text" class="support-create__ticket__input">
        </label>
        <label class="support-create__ticket__label">
          <span class="support-create__ticket__title">
            Trading Account
          </span>
          <select name="create-ticket-select" class="support-create__ticket__select">
            <option value="example-option1">example-option1</option>
            <option value="example-option2">example-option2</option>
            <option value="example-option3">example-option3</option>
          </select>
        </label>
        <label class="support-create__ticket__label">
          <span class="support-create__ticket__title">
            Ticket number(s)
          </span>
          <input type="text" class="support-create__ticket__input">
        </label>
      </div>
      <label class="support-create__ticket__checkbox">
        <input type="checkbox">
        <span class="support-create__ticket__checkbox__title">
          Strategy Provider involved
        </span>
      </label>
      <div class="support-create__ticket__flex-wrapper">
        <label class="support-create__ticket__label">
          <span class="support-create__ticket__title">
            Email of SP
          </span>
          <input type="text" class="support-create__ticket__input">
        </label>
        <label class="support-create__ticket__label">
          <span class="support-create__ticket__title">
            Trading Account
          </span>
          <select name="create-ticket-select" class="support-create__ticket__select">
            <option value="example-option1">example-option1</option>
            <option value="example-option2">example-option2</option>
            <option value="example-option3">example-option3</option>
          </select>
        </label>
        <label class="support-create__ticket__label">
          <span class="support-create__ticket__title">
            Ticket number(s)
          </span>
          <input type="text" class="support-create__ticket__input">
        </label>
      </div>
      <button class="support-create__ticket__submit-btn">
        Submit
      </button>
    </div>
  </main>
</body>
</html>
