$text: #343A40;
$text-white: #CED4DA;
$text-link: #50A5F1;
$grey: #494E54;
$grey-secondary: #74788D;
$grey-little: #B1BBC4;
$background: #F4F6F8;
$red: #F46A6A;
$green: #3AC47D;
$white: #FFFFFF;
$orange: #F1B44C;
